% -*- mode: erlang -*-
%{compile_pre_script, "./support/make_tz.py < ./src/timezone.txt > ./src/egeoip2_tz.erl"}.
{clean_files, ["ebin/*.beam", "ebin/egeoip2.app", "doc/", "_test"]}.
{erl_opts, [debug_info]}.
{deps, [ {dynamic_compile, ".*", {git, "git@github.com:SemanticSugar/dynamic_compile.git", "master"}}]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{dialyzer_opts, [{plt, "_test/dialyzer_plt"}, src]}.
